<div class="container page-container">

  <div class="row no-gutters">
    <div class="col-10">
      <h1 class="mr-2"><%= @quote.company_name %> <small>(<%= @quote.symbol %>)</small></h1>
    </div>
    <div class="col-2 text-right">
      <a class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split options-dropdown" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
      <div class="dropdown-menu dropdown-menu-right">
        <% if current_user.can_track_stock?(@quote.symbol) %>
          <%= link_to "Track", user_stocks_path(user: current_user, ticker: @quote.symbol), method: :post, class: "dropdown-item" %>
        <% else %>
          <%= link_to "Untrack", user_stock_path(@stock_id), method: :delete, class: "dropdown-item",
            data: { confirm: "Are you sure you want to stop tracking #{@quote.company_name} (#{@quote.symbol})?" } %>
        <% end %>
      </div>
    </div>
  </div>

  <h2>
    <%= number_with_precision(@quote.latest_price, precision: 2) %>
    <small>
      <%= render  "shared/format_stock_delta", change: @quote.change %>
      <%= render  "shared/format_stock_delta_percent", change: @quote.change, percent: @quote.change_percent_s %>
    </small>
  </h2>
  <p class="mb-0">As of <%= @quote.latest_source %> on <%= @quote.latest_time %></p>
  
  <% if current_user.stock_already_tracked?(@quote.symbol) %>
    <span class="badge badge-success">Tracking</span>
  <% end %>

  <div class="row mt-3">

    <div class="col-md-8 col-lg-4">
      <table class="table">
        <tbody>
          <tr>
            <td class="no-border-top"> Previous Close</td>
            <td class="no-border-top text-right font-weight-bold"><%= number_with_precision(@quote.previous_close, precision: 2) %></td>
          </tr>
          <tr>
            <td>Open</td>
            <td class="text-right font-weight-bold">Unavailable</td>
          </tr>
          <tr>
            <td>Day's Range</td>
            <td class="text-right font-weight-bold">Unavailable</td>
          </tr>
          <tr>
            <td>52 Week Range</td>
            <td class="text-right font-weight-bold"><%= @quote.week_52_low %> - <%= @quote.week_52_high %></td>
          </tr>
          <tr>
            <td>Volume</td>
            <td class="text-right font-weight-bold">Unavailable</td>
          </tr>
          <tr>
            <td>Avg. Volume</td>
            <td class="text-right font-weight-bold"><%= number_with_delimiter(@quote.avg_total_volume) %></td>
          </tr>
          <tr>
            <td>Market Cap</td>
            <td class="text-right font-weight-bold"><%= number_to_human(@quote.market_cap, precision: 4) %></td>
          </tr>
          <tr>
            <td>PE Ratio</td>
            <td class="text-right font-weight-bold"><%= @quote.pe_ratio %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-1"></div>

    <div class="col-lg-7" id="news-container">
      <div class="row">
        <div class="col">
          <h2 id="news-header">News</h2>
        </div>
      </div>

      <% @news.each do |article| %>
      <div class="mb-4 mt-3">
        <div class="row">
          <div class="col">
            <%= link_to  "/", class:"link-style" do %>
              <h5 class="mb-0"><%= article.headline %></h5>
            <% end %>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col text-right font-italic">
            <small><%= article.datetime.strftime("%b %-d, %Y %l:%M %P")%></small>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="pl-1 pr-1"><%= article.summary %></p>
          </div>
        </div>
      </div>
      <% end %>

    </div>

  </div>
</div>
