<h3>Contacts</h3>

<div class="card shadow-sm bg-white rounded mt-2">
  <ul class="list-group list-group-flush">
    <% @user_contacts.each do |contact| %>
      <li class="list-group-item contact" data-link="<%= user_path(contact) %>">
        <div class="row">
          <div class="col-6">
            <div>
              <span class="mr-2"><%= contact.full_name %></span>
            </div>
            <div>
              <span class="mr-2"><small><%= contact.email %></small></span>
            </div>
          </div>
          <div class="col-6">
            <% contact.stocks.each do |stock| %>
              <%= link_to stock_path(stock.ticker), class:"no-text-decoration" do %>
                <span class="badge badge-info contact-stock-badge"><%= stock.ticker %></span>
              <% end %>
            <%end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
