<div id="stock-tracker">
  <div class="row">
    <div class="col-10">
      <h3>Tracked Stocks </h3>
    </div>
    <div class="col-2 text-right">
      <%= link_to refresh_tracked_stocks_path(user_id: user.id), class: "no-text-decoration", remote: true, method: :get do%>
        <h3><%= fa_icon "history", id: "stocks-table-refresh-icon"%></h3>
      <% end %>
    </div>
  </div>
  
  <div class="card shadow-sm bg-white rounded mt-2">
    <ul class="list-group list-group-flush">
      <% user.stocks.each do |stock| %>
      <% quote = stock.get_quote %>
        <li class="list-group-item contact" data-link="<%= stock_path(quote.symbol) %>">
          <div class="row">
            <div class="col">
              <div>
                <span><%= quote.company_name %> <small>(<%= quote.symbol %>)</small></span>
              </div>
              <div>
                <span>
                  <strong><%= number_with_precision(quote.latest_price, precision: 2) %></strong>
                  <%= render "shared/format_stock_delta", change: quote.change %>
                  <%= render  "shared/format_stock_delta_percent", change: quote.change, percent: quote.change_percent_s %>
                </span>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

