<div class="search-block">
  <%= render  "layouts/messages" %>
</div>

<% if @stock %>
  <div class="card card-header search-block">
    <strong class="mr-1">Symbol: </strong><%= @stock.symbol %>
    <strong class="mr-1">Name: </strong><%= @stock.company_name %>
    <strong class="mr-1">Last Price: </strong>$<%= @stock.latest_price %>
    <% if current_user.can_track_stock?(@stock.symbol) %>
      <%= link_to "Add to portfolio", 
        user_stocks_path(user: current_user, ticker: @stock.symbol),
        method: :post,
        class: "btn btn-info ml-2" %>
    <% else %>
      <% if current_user.stock_already_tracked?(@stock.symbol) %>
        <span class="badge badge-success ml-2">Tracking</span>
      <% else %>
        <span class="badge badge-danger ml-2">Over Tracking Limit</span>
      <% end %>
    <% end %>
  </div>
<% end %>
