<div class="search-block">
  <%= render  "layouts/messages" %>
</div>

<% if @quote %>
  <div class="card card-header search-block">
    <strong>Symbol: </strong><%= @quote.symbol %>
    <strong class="ml-2">Name: </strong><%= @quote.company_name %>
    <strong class="ml-2">Last Price: </strong>$<%= @quote.latest_price %>
    <%= link_to stock_path(@quote.symbol), class: "no-text-decoration" do %>
      <span class="badge badge-info">View</span>
    <% end %>
    <% if current_user.can_track_stock?(@quote.symbol) %>
      <%= link_to user_stocks_path(user: current_user, ticker: @quote.symbol), class: "no-text-decoration", method: :post do %>
        <span class="badge badge-success">Track Stock</span>
      <% end %>
    <% else %>
      <% if current_user.stock_already_tracked?(@quote.symbol) %>
        <%= link_to user_stock_path(@stock_id), method: :delete,
          data: { confirm: "Are you sure you would like to stop tracking #{@quote.symbol}?" } do %>
            <span class="badge badge-danger">Stop Tracking</span>
          <% end %>
      <% else %>
        <span class="badge badge-danger">Over Tracking Limit</span>
      <% end %>
    <% end %>
  </div>
<% end %>
