<div class="container page-container">

  <h1>My Portfolio</h1>

  <div class="search-area">
    <h3>Search Stocks</h3>
    <%= form_tag search_stock_path, remote: true, method: :get do %>
      <div class="input-group">
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true , class: 'form-control form-control-lg'%>
        <div class="input-group-append">
          <%= button_tag type: :submit, class: 'btn btn-success' do %>
            <%= fa_icon 'search 2x' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div id="stock-results-container">
    <%= render "users/stock_result" %>
  </div>

  <div class="tracking-container">
    <% if !@tracked_stocks.empty? %>
      <%= render "stocks_table", stocks:@tracked_stocks, my_portfolio: true %>
    <% else %>
      <h5 class="font-weight-light font-italic text-center">You are currently not tracking any stocks. Search and add stocks to build your portfolio.</h5>
    <% end %>
  </div>

</div>
