<% if request.path != root_path %>
  <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <div class="container">
      <%= link_to "Stock Tracker", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <% if current_user %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item user-dropdown-collapse <%= 'active' if request.path == my_portfolio_path %>">
                <%= link_to "My Portfolio", my_portfolio_path, class: "nav-link" %>
              </li>
              <li class="nav-item user-dropdown-collapse <%= 'active' if request.path == my_connections_path %>">
                <%= link_to "Connections", my_connections_path, class: "nav-link" %>
              </li>
              <div id="user-dropdown-expanded">
                <li class="nav-item <%= 'active' if request.path == my_portfolio_path %>">
                  <%= link_to my_portfolio_path, class: "nav-link" do %>
                    <%= fa_icon "book", class: "mr-2 nav-expanded-icon" %>My Portfolio
                  <% end %>
                </li>
                <li class="nav-item <%= 'active' if request.path == my_connections_path %>">
                  <%= link_to my_connections_path, class: "nav-link" do %>
                    <%= fa_icon "users", class: "mr-2 nav-expanded-icon" %>Connections
                  <% end %>
                </li>
                <li class="nav-item <%= 'active' if request.path == edit_user_registration_path %>">
                  <%= link_to edit_user_registration_path, class: "nav-link" do %>
                    <%= fa_icon "edit", class: "mr-2 nav-expanded-icon" %>Edit profile
                  <% end %>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item">
                  <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                    <%= fa_icon "sign-out", class: "mr-2 nav-expanded-icon" %>Logout
                  <% end %>
                </li>
              </div>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown user-dropdown-collapse">
                <%= link_to "#", { class: "nav-link dropdown-toggle mr-2", id:"navbarDropdown", role:"button", data: { toggle:"dropdown"}, aria: { haspopup:"true", expanded:"false"}}  do %>
                  <%= fa_icon "user", class: "mr-1" %><%= current_user.full_name %>
                <% end %>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                    <%= fa_icon "edit", class: "mr-2" %>Edit profile
                  <% end %>
                  <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                    <%= fa_icon "sign-out", class: "mr-2" %>Logout
                  <% end %>
                </div>
              </li>
            </ul>
          <% else %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, class: "nav-link text-primary mr-2" %>
              </li>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "btn btn-primary mr-2" %>
              </li>
            </ul>
          <% end %>
        </div>
      
    </div>
  </nav>
<% end %>
